<div class="container-fluid" style="height: 100%">

    <div  style="width: 25%; height: 1000px;float: left;">
        <div style="border: 1px solid red; width:96%;height: 200px;align-self: center; "></div>
        <div style="width: 96%; height: 60px; background-color: black">
            <h3 class="h3" style="color: white;padding-left:5px;padding-top: 10px;">Filter by:</h3>
        </div>
        <h3 class="h3" style="margin: 8px; font-family: Impact">Location score:</h3>
        <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Excellent location:9+</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Very good location:8+</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Good location:7+</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Pleasent location:6+</label>
            </div>
            <h3 class="h3" style="margin: 8px; font-family: Impact">Popular filters:</h3>
        <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Free wifi</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Air Conditioner</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Airport Shuttle</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Karol bagh</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Paharganj</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Gb road</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Very good: 8+</label>
            </div>
            <h3 class="h3" style="margin: 8px; font-family: Impact">Star ratings:</h3>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">5 Star</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">4 Star</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">3 Star</label>
            </div>
            <div class="form-check" style="margin: 10px;">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">2 Star</label>
            </div>
    </div>
	<h2 class="h2" style="font-family:Showcard Gothic; ">New Delhi:1200 results found:</h2>
	<h6 class="h6" style="font-family: Franklin Gothic Book">3 Reasons to visit:<span class="h5" style="font-family: Impact">Red fort</span> ,<span class="h5" style="font-family: Impact">India Gate</span> and <span class="h5" style="font-family: Impact">vegeterian cuisine</span>.</h6>

    <div class="container">
        <div class="row" style="padding-left: 15px; padding-right: 14px;height: 50px;">
            <div class="col-4" style="border: 1px solid black; background-color: #F0C012;font-family: Lucida Sans Unicode;text-align:center;padding-top: 10px;border-top: 5px solid black;	 "><a href="#" class="h5">Our Recommendations</a></div>
            <div class="col-3" style="border: 1px solid black; background-color: #F0C012;font-family: Lucida Sans Unicode;text-align:center;padding-top: 12px;border-top: 5px solid black;"><a href="#" class="h6">Lowest price first</a></div>
            <div class="col-1" style="border: 1px solid black; background-color: #F0C012;font-family: Lucida Sans Unicode;text-align:center;padding-top: 10px;border-top: 5px solid black;"><a href="#" class="h5">Stars</a></div>
            <div class="col-4" style="border: 1px solid black; background-color: #F0C012;font-family: Lucida Sans Unicode;text-align:center;padding-top: 10px;border-top: 5px solid black;"><a href="#" class="h5">Distance from city center</a></div>
            <div>
            
            
                <div class="container py-3">
                <div class="card p-3 rounded">
                    <div class="row ">
                    <div class="col-md-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                        </div>
                        <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                            <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                        </div>

                    </div>
                    </div>
                </div>
                
                </div >
            
            
                <div class="container py-3">
                <div class="card p-3 rounded">
                    <div class="row ">
                    <div class="col-md-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                        </div>
                        <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                            <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                        </div>

                    </div>
                    </div>
                </div>
                
                
            
                <div class="container py-3">
                <div class="card p-3 rounded">
                    <div class="row ">
                    <div class="col-md-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                        </div>
                        <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                            <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                        </div>

                    </div>
                    </div>
                </div>
                
            
                </div>
    </div>
</div>