    <section>
        <div class="card">
    <img src="\images\gallery03.jpg" style="height:700px;">
    <div class="card-img-overlay" style="padding-top: 150px;">
        <div class="container" style="padding-top: 100px; display: block; ">
                <h2>Find Deals for Hotels</h2>
                <p>Best Prices!!</p>
                <!-- style="background-color:#febb02;padding:4px;border-radius:4px;width:auto; -->
    <form method="post" action="/hotels/search">
        <div class="row" style="background-color:#febb02;padding:4px;border-radius:4px;max-width:1037px;">   
        <div class="searchbox-outer" style="width:400px;">
            <div class="searchbox" style="">
                <input type="text" class="form-control"  name ="slocation" placeholder="Where are u going to ?" style="background-image:url(https://www.yellowstonenationalparklodges.com/content/uploads/2018/08/Bed-icon.png);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"
                /></div>
        </div>
        <div class="calanderbox-in-outer" style="width:200px;padding-left:4px;padding-right:4px;">
            <div class="calanderbox-in" style="">
                <input type="date" class="form-control" name ="scheckin" placeholder="Check-in" style="background-image:url(https://image.freepik.com/free-icon/calendar-interface-symbol-tool_318-58214.jpg);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"
                /></div>
        </div>
        <div class="calanderbox-out-outer" style="width:200px;padding-left:4px;padding-right:4px;">
            <div class="calanderbox-out" style="">
                <input type="date" class="form-control" name ="scheckout" placeholder="Check-out" style="background-image:url(https://image.freepik.com/free-icon/calendar-interface-symbol-tool_318-58214.jpg);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"/>
            </div>
        </div>
        <div class="individual-box-outer" style="width:150px;padding-left:4px;padding-right:4px;">
            <div class="individual-box" style="">
                <select class="custom-select" name="individuals" id="inputGroupSelect01" style="background-image:url(https://png.pngtree.com/svg/20170502/user_login__115485.png);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;">
                    <option selected>Individuals</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                </select>
            </div>
        </div>
        <div class="Search-button-outer" style="width:50px;padding-left:4px;padding-right:4px;">
            <div class="search-button" style="position: relative;width: 100%;">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
        </div>
    </form>
</div>
    </div>
</div>
    </section>
<hr/>

<!--  slider -->
<section class="content">
    <h3 style="padding-left: 80px;">Places in Chandigarh</h3>
        <div class="container">
                <div class="row">
                    <div class="room-carousel owl-carousel owl-theme">
                        <div class="item d-flex justify-content-around">
                            <div class="card" id="pt" style="width: 21rem;">
                                <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Hotel Name1</h6>
                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                    <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                </div>
                            </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                            <div class="card" style="width: 21rem;">
                                <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Hotel Name2</h6>
                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                    <a href="#" class="btn btn-primary">Book Now</a>
                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                </div>
                            </div>
                        </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name3</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                    </div>
                            </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name4</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                    </div>
                            </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name5</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                    </div>
                            </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name6</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                            </div>
                                    </div>
                                    <div class="item d-flex justify-content-around">
                                            <div class="card" style="width: 21rem;">
                                                    <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Hotel Name7</h6>
                                                        <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                        <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                        <a href="#" class="btn btn-primary">Book Now</a>
                                                        <a href="#pt" class="price card-link">Rs 1100</a>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="item d-flex justify-content-around">
                                            <div class="card" style="width: 21rem;">
                                                    <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Hotel Name8</h6>
                                                        <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                        <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                        <a href="#" class="btn btn-primary">Book Now</a>
                                                        <a href="#pt" class="price card-link">Rs 1100</a>
                                                    </div>
                                            </div>
                                    </div>
                    </div>
            </div>
                    </div>
    <h3 style="padding-left: 80px">Places in Delhi</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">{{Name}}</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">{{Location}}</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="/hotels/page/1" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">{{Price}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Hyderabad</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Chennai</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Mumbai</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Kolkata</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
</section>
    <hr/>
        
<!--  slider -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
