<div class="container">
  <div class="row">
    <div class="col">
      <div class="form row">
        <div class="col">
          <label>Input</label>
        </div>
        <div class="col">
          <input type="text" placeholder="Enter Text">
        </div>
      </div>
    </div>
  </div>
</div>